.app-header{
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px;
    padding: 10px;
  }
  .button--icon--theme{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  .button--icon--add--task{
    cursor: pointer;
    padding: 0;
  }